<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HaxlSharp" version="0.1.6009.41572" targetFramework="net452" />
  <package id="HaxlSharp.Core" version="0.1.6009.41571" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
</packages>